:root {
  /* Для наползающих элементов в общем потоке */
  --ui-index-1: 100;
  /* Для наползающих элементов в общем потоке */
  --ui-index-2: 200;
  /* Для масок */
  --ui-index-3: 300;
  /* Для сайдбаров */
  --ui-index-4: 400;
  /* Для модалок */
  --ui-index-5: 500;
  /* Для элементов, перекрывающих всё */
  --ui-index-6: 600;
}
